@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    margin:0px;padding:0px;
    scroll-behavior: smooth;
}
 
 #navb{
    position: fixed;
    top: 0;
    display:flex;
	justify-content: space-between;
 }
nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: calibri;
	 
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	 
	background :rgba(231, 221, 221, 0.5);

	box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
	z-index: 1;
}
 .menu li{
     list-style: none;
 }
 .menu li:hover{
    list-style: none;
 }
.menu{
	display: flex;
}
.menu li a{
	padding: 10px 15px;
	color:black;
    font-size: 12px;
    text-decoration: none;
	
}
.lang{
	color:black;
}
.logo{
	font-size: 25px;
	font-weight: bold;
	color:black;
    font-family:sans-serif;
    background-color:none;
}
 
 
.active a,
.menu li a:hover{
	background-color:#292929;
	color:#FFF ;
    font-weight: bold;
    list-style: none;
	transition: all ease 0.4s;
}


#banner{
    background:linear-gradient(rgba(231, 221, 221, 0.5),  black),url(i1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Kaushan Script', cursive;
}
.banner-text{
    text-align: center;
    color:#fff;
    padding-top:180px;
}
.banner-text h1{
    font-size :130px;
}
.banner-text p{
    font-size:20px;
    font-style: italic;
}
.banner-btn{
    margin:70px auto 0;
}
.banner-btn a{
    width:150px;
    text-decoration: none;display: inline-block;
    margin:0 10px;
    padding:12px 0;
    color:#fff;
    z-index:1;
    position:relative;
    border:.5px solid #fff;
    transition: color 0.5s;
}
.banner-btn a span{
    width:0;
    height:100%;
    position:absolute;
    top:0px;
    left: 0;
    background:#fff;z-index:-1;
    transition:0.5s;
}
.banner-btn a:hover span{
    width:100%
    
     
}
.banner-btn a:hover{
    color:black;
}
@media screen and (max-width:770px){
    .banner-text h1{
  font-size: 44px;
    }
    .banner-btn a{
        display:block;
        margin:20px auto;
    }
}

#games{
    width:100%;
    padding:100px auto;
     position: relative;
    background:black;
    min-height:100vh;
    display: flex;justify-content:space-between;
    align-items:center;
    transition:0.5s;
     
}
 


#about{
    width:100%;padding:70px 0;
    background:#efefef;
    
}
#info{
    width:100%;
    padding:70px 0;
     
    
}
 .inforow{
       
    margin: auto;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    width:80%;
  
 }
.what, .mission{
    flex-basis:48%;
    padding:10px;margin-bottom:30px;
    border-radius: 5px;
     
    cursor:pointer;
    transition:transform .5s;
}
@media screen and (max-width:770px){
    .what, .mission
    {flex-basis:100%;}
}


#services{
    width:100%;padding:70px 0;
    background:#efefef;
   
}
.service-box{
    width:80%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:auto;
}
.single-service{
    flex-basis:28%;
    text-align:center;
    border-radius:7px ;
    margin-bottom: 20px;
    color:#fff;
    position: relative;
}
.single-service img{
    width:100%;border-radius:7px;
   height:100%;
}
.overlay{
    width: 100%;height:100%;position:absolute;
    top:0;border-radius:7px;
    cursor:pointer;
    background:linear-gradient(rgba(0,0,0,0.5),black);
    opacity:0;
    transition:1s;
}
.single-service:hover .overlay{
    opacity:1;
}
.service-desc{
    width:80%;
    position:absolute;
    bottom:40%;
    left:50%;transform:translateX(-50%);
    opacity: 0;
    transition:1s;
}
hr{
    background:#fff;height:2px;
    border:0;
    border:0px;
    margin:15px auto;
    width:60%;
}
.service-desc p{
    font-size:14px;

}
.single-service:hover .service-desc{
 opacity:1;
 bottom:40%;

}
@media screen and (max-width:770px){
    .single-service{
        flex-basis:100%;
        margin-bottom:30px;
    }
    .service-desc p{
        font-size:12px;
    }
    hr{
        margin:5px auto;
    }
    .single-service:hover .service-desc{
     
        bottom:25%;
       
       }
}

.parallax {
  
    background-image: url("i8.jpg");
    background-size: 100% 100%;
    min-height: 750px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
  }

#testimonials{
    width:100%;
    padding:70px 0;
}
.testimonial-row{
    width:80%;
    margin: auto;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;flex-wrap:wrap;

}
.testimonial-col{
    flex-basis:22%;
    padding:10px;margin-bottom:30px;
    border-radius: 5px;
    box-shadow:0 10px 20px 3px #00968814;
    cursor:pointer;
    transition:transform .5s;
}
.testimonial-col p{
    margin-top:40px;
    font-size:14px;
    color:rgb(189, 182, 182);
}
.testimonial-col:hover{
    transform:translateY(-7px);
}
#testimonials .btn{
	display:block;
	border-style:solid;
	border-color:black;
	border-width:3px ;
	width:9em;
	height:3em;
	background:#fff;
	 margin-top: 40px;
	line-height:2;
	text-align:center;
	text-decoration:none;
    font-weight:900;
    border-radius: 7px;
}
#testimonials .btn a{
    color:#333;
    text-decoration: none;
}
#testimonials .btn:hover{
	border-color:black;
	border-width:2px;
    color:#000;
   
}
@media screen and (max-width){
    .testimonial-col{
        flex-basis:100%;
    }
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text h1{
    font-size:50px;
}



footer ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #fff;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #338bc5;
    padding: 13px 20px;
    border: 1px solid#338bc5;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
@media screen and (max-width:450px){
  .lang{
      display: none;

      
  }
 
  
}